.ContentListItem .ContentItem img {
    min-width: 128px;
    max-width: 128px;
}

.ContentListItem .react-sweet-progress {
    padding: 15px 15px 10px 0px;
}

.ContentListItem .react-sweet-progress-symbol {
    font-size: 1.5em;
}

.list-group-item {
    cursor: pointer;
    margin: 10px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.ContentItem .media-info {
    display: flex !important;
    align-items: baseline;
    justify-content: space-between;
}


.ContentItem .media-info .Level{
    margin-right: 10px;
}

.ContentItem .media-hashtag{
    margin-right: 10px;
}
