.FilterableContentList .SearchBar {
    position: sticky;
    /* Safari */
    position: -webkit-sticky;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 10px 10px 10px 20px;
    background-color: white;
    opacity: 1;
}

.FilterableContentList .ContentList {
    overflow: hidden;
}