.QuestionNavigator {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 25px;
    margin-top: 5px;
}

.QuestionNavigator .NavigationButton {
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0px 2px 0px 2px;
    border-radius: 15px;
    color: white;
    font-size: 0.8em;
    transition-duration: 0.7s;
}

.QuestionNavigator .NavigationButton.Inactive {
    flex: 1;
}

.QuestionNavigator .NavigationButton.Active {
    flex: 8;
}

.QuestionNavigator .NavigationButton.CORRECT {
    background-color: #27ae60;
    background-repeat: no - repeat;
}

.QuestionNavigator .NavigationButton.ATTEMPTED {
    background-color: #f1c40f;
}

.QuestionNavigator .NavigationButton.FAILED {
    background-color: #d35400;
}

.QuestionNavigator .NavigationButton.INITIAL {
    background-color: #bdc3c7;
}