.RecognitionView {
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.RecognitionView p {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.RecognitionView .RecordButton {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
    text-align: center;
    border: none;
    outline: none;
}

.RecognitionView .RecordButton .fa-microphone {
    font-size: 1.5em;
    color: white;
}

.RecognitionView .RecordButton:focus {
    outline: none;
}

.RecognitionView .RecordButton.Still {
    background-color: #e40956;
}

.RecognitionView .RecordButton.Still:hover {
    background-color: #c51261;
}

.RecognitionView .RecordButton.Recording {
    animation: pulse 2s infinite linear;
    background-color: #298d77;
}

.RecognitionView .RecordButton.Recording:hover {
    background-color: #25806c;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}