.ScoreBoard {
    position: relative;
    width: 54px;
    height: 48px;
}

.ScoreBoard .ScoreText {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    color: blue;
}

.ScoreBoard.Animate {
    animation: flashNpulse 0.5s 1 linear;
}

.ScoreBoard.Animate .ScoreText {
    display: none;
}

@keyframes flashNpulse {
    from,
    to {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
        opacity: 0.3;
    }
}
