html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    color: #333;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto";
}

select.form-control, textarea.form-control, input.form-control {
    font-size: 16px;
}

#root {
    height: 100%;
}