html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

#root {
    height: 100%;
}